.container {
    display: flex;
    margin:0px 20px 0px 0px;
    height:250px;
    /* position:absolute; */
  }
.quotewrapper {
    max-width: 150px;
    /* height: px; */
    margin: 0;
    padding: 0;
}

.text {
    width: 250px;
    height: 250px;
    /* line-height: 150px; */
    background: radial-gradient(
        ellipse at center,
        #07223f 0%,
        #07223f 64%,
        #FF6200 65%,
        #FF6200 70%,
        rgba(210, 20, 20, 0) 72%
    );
    margin: 0px;
    color: white;
}

.info{
  width:140px;
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.text {
    /* height: 100%; */
    line-height: 1.25;
  padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {
    .text {
      height:150px;
      width:150px;
      }

 .container{
   margin:0 auto;
   justify-content:center;
 }

}
