.container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.logo {
  padding-left: 80px;
}
.bars {
  display: none;
}
.navBar {
  color: black;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  margin-left: auto;
  padding-right: 50px;
}

.navbar a {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.navbar > img {
  padding: 0px 0px;
}

.navbar > button {
  background-color: #ff6200;
  border-radius: 10px;
  color: white;

  font-weight: bold;
  padding: 10px 15px;
  border: none;
}
.navbar a.icon {
  display: none;
}
.whiteLogo {
  display: none;
}
/* @media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
} */

@media screen and (max-width: 800px) {
  .bars {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-right:20px;
  }
  .logo {
    display: none;
  }

  .whiteLogo {
    display: flex;
    padding-left: 0px;
    justify-content: flex-start;
  }

  .navbar {
    display: none;
  }
}
