.container {
  display: flex;
  margin: 0;
  height: 150px;
  position:relative;
}
.quotewrapper {
  max-width: 150px;
  margin: 0;
  padding: 0;
}

.text {
  width: 140px;
  height: 140px;
  background: radial-gradient(
    ellipse at center,
    white 0%,
    white 64%,
    white 65%,
    white 70%,
    rgba(210, 20, 20, 0) 72%
  );
  margin: 0;
  color: #ff6200;
}

.info {
  position: absolute;
  width: 140px;
  display: flex;
  margin-left: 30px;
  align-items: center;
  top:0px;
  right:20px;
}
.text {
  line-height: 1.25;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {
  .text {
    height: 80px;
    width: 80px;
  }
  .info {
    font-size: 9px;
    opacity: 0.75;
    text-align: center;
    right:-38px;
    top:25px;
    width: 70px;
  }
}
