.carousel {
    max-width: 900px;
    background-color: #07223f;
    color: white;
    height: 393px;
    margin: 30px auto;
}

.title,
.description {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.description {
    font-style: 20px;
    text-align: center;
    margin: 10px;
}

.left {
    max-width: 45%;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.right {
    width: 50%;
    /* position:relative; */
    z-index: 20;
}

.modelInfo {
    font-size: 10px;
    display:flex;
}



/* //carousel effect */

@keyframes right {
    from { color:red; left:150px; }
  to { color:green; left:0px;}
  }
  
  @keyframes left {
    from { color:red; left:-150px; }
  to { color:green; left:0px;}
  }
  
.moveeft {
    position:absolute;
    width:150px;
  left:-150px;
  animation: left 3s;
  color:turquoise;
  }

.moveRight {
    position:absolute;
    width:150px;
  left:150px;
  animation: right 3s;
  color:gray;
  }
  .moveCenter {
  animation-direction: forwards;
  left:0px ;
  background-color:orange;
  }
  .moveOuter {
    animation-direction: reverse;
    background-color:pink;
  }
  
  .initialCenter {
    position:absolute;
    width:150px;
  left:0px;
  color:red;
  }
  .initialRight {
    color:purple;
    position:absolute;
    width:150px;
  left:150px;
  }
  .initialLeft {
  color:green;
    position:absolute;
    width:150px;
  left:-150px;
  }
